<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{firstname}},</p>
        <p>You requested to deete your account.</p>
        <p> Please, click the link below to delete you account</p>
        <a href="{{link}}"></a>
    </body>
</html>